.flex {
	display: flex;
	align-items: center;
	&.start {
		justify-content: start;
	}
	&.center {
		justify-content: space-between;
	}
	&.end {
		justify-content: end;
	}
	&.even {
		justify-content: space-evenly;
	}
}

.label {
	padding: 0 12px;
}